

.bg-dark{
    background-color:#000000!important

}
.screen {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
  }
body{
    
    perspective: 1px;
    border: #000000;
    border-width: 30px;
    background-color:#FFFFFF!important;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 100;
    height: 100vh;

}
.navbar{
    text-align: cent
}
.white{
    background-color:transparent!important

}
.grey{
    background-color: #A8B1B8!important
}
.block{
    width: 96%;
    margin: 0 auto;
    height: auto;
    vertical-align: middle;
    line-height: 10vh;
    font-size: 4vh;
    margin-bottom: 5vh;
    opacity: 1;
    transition: 350ms;
}
.block:hover{
    opacity:0.8;
}
.white-font{
    color:white!important;
    z-index: 13;
}
.black-font{
    font:black
}

.line{
    height: 1px!important;
    min-height: 0cm;
}
.Title{
    font-size: 5vh;
    margin: 0em;
    padding-top: 40vh!important;
    padding-bottom: 0em!important;
    height: 100vh;
    text-align: center;
    width: 100%;
    z-index: 5;
    color:black;
    font-weight: bolder;
    
    position: relative;
}
.title:after {
    content: '';
    position: absolute;
    transform: translate(-50%,-50%);
    /* To form a square, the padding-bottom, needs to have the same value as the width property */
    box-shadow: inset 0px 0px 100px black;
}
.Sub-title{
    font-size: 2.5vh!important;
    margin: 0em;
    padding-bottom: 0em!important;
    text-align: center;
    width: 100%;
}
.box{
    padding-left: 5%;
    padding-right: 5%;
}
.egg-white{
    background-color: #E3E3E3	;
    height: auto;
    padding-bottom: 5vh;
    
    padding-top: 5vh;
    z-index: 5;
    position: relative;
}
.Footer{
    background-color: white	;
    height: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    z-index: 5;
    position: relative;
    font-size: 5vh;
    margin: 0em;
    padding-bottom: 0em!important;
    text-align: center;
    width: 100%;
    z-index: 5;
    color:black;
    font-weight: bolder;
}
.strip{
    height: 2vh;
}
.light-grey{
    background-color: #E3E3E3!important
}
.row{
    width: 96%;
    margin: 0 auto;
}
a{
    visibility: visible;
}
.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
  }
  .parallax__layer {
    padding-bottom: 0;
    width: 100vw;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
  }
  .parallax__layer--base {
    transform: translateZ(0);
    z-index: 1;
  }
  .parallax__layer--back {
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    z-index: 1;
    height: 100vh;
  }
  .parallax__layer--deep {
    /* -webkit-transform: translateZ(-600px) scale(3);
    transform: translateZ(-300px) scale(2); */
    z-index: 2;
  }
  .parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
    transition: transform 0.5s;
  }
  .title{
    text-align: center;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: relative;
    /* Remove the parts of the circle that is outside of the image */
    overflow:hidden;
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
  }
  .col-sm{
      opacity: 1;
  }
  .Main_img{
    
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    box-shadow: inset 0 0 100px black;
}
.Main_img::after{
    box-shadow: inset 0 0 100px black;
}
#FunFacts{
    display: none;

}
#Projects{
    display: none;
    line-height: normal;
    text-align: left;
}
#Skills{
    display: none;
}
.project-picture{
    height: 24vh;
    width:24vh;
    background: #FFFFFF;
    border-radius: 15px;
    object-fit: cover;

}
.project-discription{
    width: 50%;
}

  @media (max-width: 1000px) {

    
}
@media (max-width: 800px) {

    

}
  